<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><% block title %><% endblock %></title>
    <!--bootbox-->
    <script type="text/javascript" src="/hs_query/static/src/js/bootbox.min.js"></script>
    <!--datatables-->
    <link rel="stylesheet" type="text/css" href="/hs_query/static/src/css/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/hs_query/static/src/css/dataTables.jqueryui.css"/>
    <script src="/hs_query/static/src/js/datatables.min.js"></script>
    <script type="text/javascript" src="/hs_query/static/src/js/dataTables.jqueryui.js"></script>
    <!--自定义-->
    <script type="text/javascript" src="/hs_query/static/src/js/query_tools.js"></script>
    <link rel="stylesheet" href="/hs_query/static/src/css/query.css"/>

    <% block head %>
    <% endblock %>

</head>
<body ontouchstart>

    <script>
        var context = ${context|safe};
    </script>

<% block body %>
<% endblock %>

</body>
</html>